*{
  box-sizing: border-box;
  overflow: hidden;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  width: 1230px;
  overflow: hidden;
  display: flex;
  padding: 30px 10px;
  position: relative;
}

.slider .product{
  min-width: 400px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 17px;
  transition: 0.5s;
}

.slider .product img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.slider .product .information{
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: space-between;
}

.slider .product .information button{
  margin: 20px 0;
  width: 100%;
  background: rgb(230, 10, 65);
  border: none;
  outline: none;
  color: white;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.slider .product .information .price{
  font-size: 24px;
}

.slider .arrow{
  width: 1240px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 40%;
}

.slider .arrow button{
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: white;
  margin: 0 20px;
  cursor: pointer;
}







/* .slideshow-elements{
  max-height: 240px;
  display: flex;
  /* overflow-x: auto;
}

.slideshow-elements::-webkit-scrollbar{
  width: 0;
}



.slideshow-element img{
  min-width: 341px;
  line-height: 240px;
  height: 240px;
}

.slideshow-element{
  min-width: 341px;
  line-height: 240px;
  height: 240px;
  transition: transform 0.6s;
  transform: translate3d(50%, 0, 0);
}

.slideshow-element.current {
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  transition: transform 0.6s;
} */

/* .slideshow-element img{
  height: 275px;
}

.slideshow-element{
  overflow: hidden;
  display: block;
  transition: transform 0.6s;
  transform: translate3d(50%, 0, 0);
}


.slideshow-element.current {
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  transition: transform 0.6s;
} */

/* .slideshow-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.slideshow-element img{
  width: 800px;
  height: 500px;
  overflow: hidden;
}

.slideshow-element{
  position: absolute;
  transform: translate(-50%, -50%) translate3d(50%, 0, 0);
  transition: transform 0.6s;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.slideshow-element.current {
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  transition: transform 0.6s;
  overflow: hidden;
  opacity: 1;
  padding: 0;
  margin: 0;
} */









/* .slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
  } */

  /* @keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

  .slideshow-element {
    text-align: center;
    position: absolute;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.6s;
    opacity: 0;
  }
  .slideshow-element i,
  h2 {
    font-size: 10rem;
    color: coral;
  }
  .slideshow-element.current {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s;
    opacity: 1;

  }

   */
